@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.content-container {
  margin-top: 15px;
  ul {
    font-family: 'Varela Round', sans-serif;
    float: left;
    position: relative;
    top: -21px;
    list-style-type: none;
    padding: 0 20px;
  }
}
