/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


body {
  background-image: url('assets/background.jpg');
  background-size: cover;
  color: #fff;
  font-weight: 500;
  text-shadow: -1px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1px black;
  .btn-success {
    background-color: #216931;
    border-color: #216931;
  }
}
