/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@ng-select/ng-select/themes/default.theme.css";


body {
  background-image: url('assets/background.jpg');
  background-size: cover;
  color: #fff;
  font-weight: 500;
  text-shadow: -1px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1px black;
  .btn-success {
    background-color: #216931;
    border-color: #216931;
  }
}

.ng-select.custom {
  .ng-select-container  {
    background-color: #668398;
    border-color: #354c63;
    color: #fff;
    text-shadow: none;
    font-weight: normal;
    .ng-clear-wrapper {
      color: red;
      text-shadow: -1px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1px black;
    }
    .ng-arrow {
      border-color: rgba(255, 255, 255, 0.6) transparent transparent;
    }
  }
  .ng-dropdown-panel {
    border-color: #354c63;
    text-shadow: none;
    font-weight: normal;
    .ng-dropdown-panel-items {
      margin-bottom: 0;
      .ng-option {
        background-color: #668398;
        color: #fff;
        &:hover {
          background-color: darken(#668398, 10%);
        }
      }
    }
  }
}

.modal-content {
  background-color: rgb(47, 79, 79);
}


.form-control {
  background-color: #668398;
  border-color: #354c63;
  color: #fff;
  &:focus {
    background-color: #668398;
    border-color: #354c63;
    color: #fff;
  }
  &:disabled {
    background-color: darken(#668398, 10%);
    cursor: not-allowed;
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
